body { background-color:white; }
div#container { width: 600px; height: 700px; 
		margin: 50px auto 50px auto; }
h1 { font-size: 32pt; color: black;  border-bottom: 1px solid #333; font-family: arial;}
.bottom { background-color: white; color: #333; }
.bottom a,a:visited { color: #111; }
table.bottom { width: 100%; border: 1px solid black;}
div#changer { width: 100%; height: 100%; }
div.buttons { background: transparent url('/resources/public/buttontdbg.png') no-repeat top left; 
	      padding-left: 0.2em; padding-right: 0.2em; text-align: center; }
.buttons a.buttons { border-right: 1px solid #5F665F; color: black; padding-right: 0.3em; 
		     font-family: verdana; font-size: 10pt; font-weight: bold; padding-left: 0.3em;}
a.lbutton { color: black; font-family: verdana; font-size: 10pt; font-weight: bold; 
	    padding-left: 0.3em; padding-right: 0.3em; }
td.bholder { border: 1px solid black; }
div#tuttext { overflow-y: auto; max-height: 300px; }
a.buttons:hover,a.lbutton:hover { color: white; }
div.continue { width: 100%; text-align: center; padding-top: 0.5em; }
code.code { color: black; font-family: "DejaVu Sans Mono"; background-color: #949494; 
	    padding: 0.1em; font-size: 10pt;}
p.bottom
{
    padding: 0;
    font-family: verdana;
    font-size: 10pt;
}
p
{
    color:gray;
    font-family:\"Times New Roman\";
    font-size:14px;
}
div.bottom { width: 600px; }
div.console div.jquery-console-inner 
{ width:595px; height:300px; background:#efefef; padding-left: 3px; padding-top: 3px;
  overflow:auto; text-align:left; border: 1px solid black;
  background: transparent url('/resources/public/wtf.png') no-repeat top left; }
div.console div.jquery-console-message-value
{ color:#0066FF; font-family:monospace;
  padding:0.1em; }
div.console div.jquery-console-prompt-box
{ color:#444; font-family:monospace; }
div.console div.jquery-console-focus span.jquery-console-cursor 
{ background:#333; color:#eee; font-weight:bold }
div.console div.jquery-console-message-error
{ color:#ef0505; font-family:sans-serif; font-weight:bold;
  padding:0.1em; }
div.console div.jquery-console-message-success
{ color:#187718; font-family:monospace;
  padding:0.1em; }
div.console span.jquery-console-prompt-label { font-weight:bold }
