body
{
    text-align:center;
    background-color:#071019;
}
p
{
    color:#E65C00;
    font-family:\"Times New Roman\";
    font-size:14px;
}
h1
{
    color:#E65C00;
}
td.sides
{
    background-color:#FFFFCC;
}
div.scroll 
{
    text-align:left;
    height:300px;
    width:800px;
    word-wrap:break-word;
    margin-left:auto;
    margin-right:auto;
    overflow-y:scroll;
    border: 1px solid #666;
    background-color: #FFFFFF;
    padding: 8px;
}
